<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head('Inspection Management')"></head>
<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Breadcrumb -->
<div id="breadcrumbContainer"
     th:attr="data-page='dashboard:/role/dashboard,inspection-management:'"
     class="breadcrumb-wrapper"></div>

<!-- Main Content -->
<main>
    <div class="data-card">
        <div class="form-header">
            <h1 class="text-center">Reviewed Inspections</h1>
        </div>

        <!-- Inspection table -->
        <div class="table-responsive">
            <table id="inspectionsTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>IISPL NO</th>
                    <th>Vendor - Location</th>
                    <th>Inspection Date</th>
                    <th>Coordinator</th>
                    <th>Inspection Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inspection : ${inspections}">
                    <td th:text="${inspection.inspectionNo}" class="text-small"></td>
                    <td th:text="${inspection.inspectionLocationDetails}"
                        class="text-small"></td>
                    <td class="text-small">
                        <ul class="list-unstyled d-inline">
                            <li th:each="date, iterStat : ${inspection.inspectionDateAsPerNotification}"
                                class="d-inline"
                                th:text="${iterStat.index == 0 ? date : ''}"></li>
                            <i th:if="${inspection.inspectionDateAsPerNotification.size() > 1}"
                               class="fas fa-info-circle d-inline text-muted ml-1"
                               th:attr="title=${inspection.inspectionDateAsPerNotification}"></i>

                        </ul>
                    </td>
                    <td th:text="${inspection.coordinatorName}" class="text-small"></td>
                    <td th:text="${inspection.inspectionStatus.description}" class="text-small"></td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-sm btn-primary me-2"
                                    th:onclick="|redirectToTechnicalCoordinatorEditInspection(${inspection.id})|">
                                <i class="fas fa-edit"></i> Manage
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</main>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>