<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head('Coordinator Dashboard')"></head>
<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<main  class="container">
        <!-- Dashboard Container -->
        <div class="dashboard-container">
            <!-- Dashboard Tabs -->
            <div class="dashboard-tabs">
                <a href="/inspection/inspection-management" class="tab">
                    <i class="fas fa-clipboard-check"></i>
                    <span>Inspection Management</span>
                </a>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <h2>You are in COORDINATOR DASHBOARD</h2>
                <p>
                    Use the tiles above to manage inspections, reports, and much more. Stay organized and efficient with our
                    comprehensive management tools.
                </p>
            </div>
        </div>
</main>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>