<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"><title>Inspection Management</title></head>
<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>
<!-- Main Content -->
<main>
    <div class="data-card">
        <div class="form-header">
            <h1 class="text-center">Manage Inspections</h1>
        </div>

        <!-- Add Inspection Button -->
        <div class="text-center mb-4">
            <button class="btn btn-primary" th:onclick="redirectToNewInspection()">
                <i class="fas fa-plus"></i> Add Inspection
            </button>
        </div>

        <!-- Inspection table -->
        <div class="table-responsive">
            <table id="inspectionsTable" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Notification NO</th>
                    <th>Client Name - Country</th>
                    <th>Inspection Date</th>
                    <th>Inspection Item</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Assuming inspections data comes from backend -->
                <tr th:each="inspection : ${inspections}">
                    <td th:text="${inspection.notificationNo}"></td>
                    <td th:text="${inspection.client.clientName + ' - ' + inspection.client.country}"></td>
                    <td th:text="${inspection.inspectionDateAsPerNotification}"></td>
                    <td th:text="${inspection.inspectionItem}"></td>
                    <td>
                        <button class="btn btn-warning btn-sm"
                                th:onclick="|redirectToEditInspection(${inspection.id})|"><i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-primary btn-sm"
                                th:onclick="|redirectToViewInspection(${inspection.id})|"> <i class="fas fa-eye"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</main>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>