<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="~{fragments/head :: head('Add or Edit Inspection')}"></head>
<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Breadcrumb -->
<div id="breadcrumbContainer"
     th:attr="data-page='dashboard:/role/dashboard,inspection-management:/inspection/inspection-management,manage:'"
     class="breadcrumb-wrapper"></div>

<!-- Main Content -->
<main>
<div class="page-container">
    <div class="form-card">
        <div class="form-header">
            <h1 class="form-title">Add Inspection</h1>
            <p class="form-subtitle">Please fill out the information below to register a new inspection</p>
        </div>
        <form th:action="@{/inspection/save}" th:object="${inspection}" method="post" class="needs-validation" novalidate>
            <input type="hidden" th:field="*{id}" id="id" />

            <!-- notification details -->
            <h4 class="section-header">
                <i class="fas fa-bell me-2"></i> Notification Details
            </h4>

            <div class="row g-3 mb-4">

                <!-- Inspection No -->
                <div class="col-md-6">
                    <label for="inspectionNo" class="form-label required-field">IISPL No</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                        <input type="text" id="inspectionNo" th:field="*{inspectionNo}" class="form-control" placeholder="Enter IISPL No" required
                               th:disabled="${edit}" pattern="[0-9]+" title="Please enter numbers only"/>
                        <!-- Hidden field to ensure the value is sent even when the input is disabled -->
                        <input type="hidden" th:field="*{inspectionNo}" th:if="${edit}"/>
                        <div class="invalid-feedback">
                            Inspection Number should be Numeric.
                        </div>
                    </div>
                </div>

                <!-- Notification No -->
                <div class="col-md-6">
                    <label for="notificationNo" class="form-label required-field">Notification No</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="text" id="notificationNo" th:field="*{notificationNo}" class="form-control" required
                               minlength="3" maxlength="250"/>
                        <div class="invalid-feedback">
                            Please provide a notification number (3-250 characters).
                        </div>
                    </div>
                </div>


                <!-- Notification Received Date and Time -->
                <div class="col-md-6">
                    <label for="notificationReceivedDateTime" class="form-label required-field">Notification Received Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                       <input type="datetime-local" id="notificationReceivedDateTime" th:field="*{notificationReceivedDateTime}"
                                   class="form-control" required/>
                        </div>
                </div>

                <!-- Client Name -->
                <div class="col-md-6">
                    <label for="clientName" class="form-label required-field">Client Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <select id="clientName" th:field="*{client.clientId}" class="form-select" required>
                            <option value="">Select Client</option>
                            <option th:each="client : ${inspection.clientsList}" th:value="${client.clientId}"
                                    th:text="${client.clientName + ' - ' + client.country}"></option>
                        </select>
                        </div>
                </div>


            </div>

            <!-- inspection details -->
            <h4 class="section-header">
                <i class="fas fa-address-card"></i> Inspection Details
            </h4>

            <div class="row g-3 mb-4">

                <!--- Inspection Country -->
                <div class="col-md-6">
                    <label for="inspectionCountry" class="form-label required-field">Inspection Country</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                        <select id="inspectionCountry" th:field="*{inspectionCountry}" class="form-control" required>
                            <option value="">Select Country</option>
                            <option th:each="country : ${inspection.countriesList}" th:value="${country}"
                                    th:text="${country}"></option>
                        </select>
                    </div>
                </div>

                <!-- Inspection Dates -->
                <div class="col-md-6">
                    <label for="inspectionDateAsPerNotification" class="form-label required-field">Inspection Dates</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input id="inspectionDateAsPerNotification" name="inspectionDateAsPerNotification"
                               th:field="*{inspectionDateAsPerNotification}" class="form-control"
                               type="text" placeholder="Pick dates"
                               th:attr="value=${inspection.inspectionDateAsPerNotification != null ? inspection.inspectionDateAsPerNotification : ''}"
                               multiple data-toggle="datepicker" required/>
                        <div class="invalid-feedback">
                            Please select inspection dates.
                        </div>
                    </div>
                </div>

                <!-- Inspection Item -->
                <div class="col-md-6">
                    <label for="inspectionItem" class="form-label required-field">Inspection Item</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                        <input type="text" id="inspectionItem" th:field="*{inspectionItem}" class="form-control"
                               required minlength="3" maxlength="100"/>
                        <div class="invalid-feedback">
                            Please provide an inspection item (3-100 characters).
                        </div>
                    </div>
                </div>

                <!-- Inspection Type -->
                <div class="col-md-6 mb-3">
                    <label class="form-label required-field">Inspection Type</label>
                    <div class="input-group was-validated"> <!-- Add was-validated if you want instant feedback -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inspectionTypeMechanical" th:field="*{inspectionType}" value="MECHANICAL" name="inspectionType" required>
                            <label  for="inspectionTypeMechanical">Mechanical</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="inspectionTypeElectrical" th:field="*{inspectionType}" value="ELECTRICAL" name="inspectionType" required>
                            <label for="inspectionTypeElectrical">Electrical</label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row g-3 mb-4">

                <!-- First Column -->

                <!-- Inspection Stages -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label for="inspectionActivityWithStages" class="form-label required-field">Inspection Stages</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-tasks"></i></span>
                            <textarea id="inspectionActivityWithStages"
                                      th:field="*{inspectionActivityWithStages}"
                                      class="form-control" rows="3" placeholder="Enter Inspection Stages"
                                      required minlength="10" maxlength="2500"></textarea>
                            <div class="invalid-feedback">
                                Please provide inspection stages (10-2500 characters).
                            </div>
                        </div>
                    </div>

                    <!-- Inspection Location Details -->
                    <div>
                        <label for="inspectionLocationDetailsId" class="form-label required-field">Inspection Location Details</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-location-pin"></i></span>
                            <textarea id="inspectionLocationDetailsId" th:field="*{inspectionLocationDetails}"
                                      class="form-control" rows="3"
                                      onchange="initMap(this.value); showMapLoadingMessage();"
                                      required minlength="10" maxlength="2500"></textarea>
                            <div class="invalid-feedback">
                                Please provide location details (10-2500 characters).
                            </div>
                        </div>
                        <div id="mapLoadingMessage" class="mt-2 text-warning fw-bold" style="display: none;">
                            Wait for the map to load nearby inspectors...
                        </div>
                    </div>
                </div>

                <!-- Second Column -->
                <div class="col-md-6">
                    <!-- Map -->
                    <div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
                </div>

            </div>

            <!-- inspector details -->
            <h4 class="section-header">
                <i class="fas fa-users"></i> Inspector Details
            </h4>

            <div class="row g-3 mb-4">

                <!-- Proposed CVs Iteration -->
                <div class="col-md-12 mt-4">
                    <label class="form-label mb-2">Proposed Inspectors</label>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="proposedCVsTable">
                            <thead>
                            <tr class="text-center">
                                <th>Inspector Name</th>
                                <th>CV Available</th>
                                <th>Technical Coordinator</th>
                                <th>PQR Available</th>
                                <th>CV Submitted Date</th>
                                <th>CV Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Existing CVs -->
                            <tr th:each="cv, iterStat : ${inspection.proposedCVs}">
                                <input type="hidden" th:field="*{proposedCVs[__${iterStat.index}__].id}" th:value="${cv.id}"/>
                                <td>
                                    <select class="form-select form-select-sm" th:field="*{proposedCVs[__${iterStat.index}__].inspector.inspectorId}">
                                        <option value="">Select Inspector</option>
                                        <option th:each="inspector : ${inspection.inspectorsList}" th:value="${inspector.inspectorId}" th:text="${inspector.inspectorName}"></option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <select class="form-select form-select-sm"
                                                th:name="proposedCVs[__${iterStat.index}__].cvCertificatesAvailable">
                                            <option value="" disabled selected>Select</option> <!-- Placeholder -->
                                            <option value="true" th:selected="${cv.cvCertificatesAvailable == true}">Yes</option>
                                            <option value="false" th:selected="${cv.cvCertificatesAvailable == false}">No</option>
                                        </select>
                                        <button type="button"
                                                class="btn btn-link btn-sm"
                                                th:data-index="${iterStat.index}"
                                                onclick="openCertificateLinkPopup(this)">
                                            <i class="fas fa-link"></i>
                                        </button>
                                        <input type="hidden"
                                               th:field="*{proposedCVs[__${iterStat.index}__].cvCertificatesLink}"
                                               th:id="'cvCertificatesLink' + __${iterStat.index}__"
                                               th:value="${cv.cvCertificatesLink}">
                                    </div>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" th:field="*{proposedCVs[__${iterStat.index}__].cvReviewByTechnicalCoordinator.empId}">
                                        <option value="">Select Coordinator</option>
                                        <option th:each="coordinator : ${inspection.technicalCoordinatorsList}" th:value="${coordinator.empId}" th:text="${coordinator.empName}"></option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        <select class="form-select form-select-sm" th:name="proposedCVs[__${iterStat.index}__].pqrAvailable">
                                            <option value="" disabled selected>Select</option> 
                                            <!-- Placeholder -->
                                            <option value="true" th:selected="${cv.pqrAvailable == true}">Yes</option>
                                            <option value="false" th:selected="${cv.pqrAvailable == false}">No</option>
                                        </select>
                                        <button type="button"
                                                class="btn btn-link btn-sm"
                                                onclick="viewPQRForm(this.closest('tr').querySelector('td select').value)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                    <input type="datetime-local" class="form-control form-control-sm" th:field="*{proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate}" th:value="*{proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate != null ? proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate : ''}"/>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <select class="form-select form-select-sm"
                                                th:name="proposedCVs[__${iterStat.index}__].cvStatus"
                                                th:onchange="'approvedInspector(' + ${iterStat.index} + ', this.value === \'true\')'">
                                            <option value="" disabled selected>Select</option> <!-- Placeholder -->
                                            <option value="true" th:selected="${cv.cvStatus == true}">Approved</option>
                                            <option value="false" th:selected="${cv.cvStatus == false}">Not Approved</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteCVRow(this)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Add CV Button -->
                    <button type="button" class="btn btn-primary btn-sm" onclick="addCVRow()">Add Inspector</button>
                </div>
            </div>

            <!-- inspection progress -->
            <h4 class="section-header">
                <i class="fas fa-cogs process-icon"></i> Inspection Progress
            </h4>
            
            <div class="row g-3 mb-4">

                <!-- Approved Inspector Name -->
                <div class="col-md-6">
                    <label for="approvedInspectorName" class="form-label">Approved Inspector Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" id="approvedInspectorName" th:field="*{approvedInspectorName}"
                           class="form-control" readonly/>
                    </div>
                </div>

                <!-- Order Confirmation Date -->
                <div class="col-md-6">
                    <label for="orderConfirmationDate" class="form-label">Date of Order Confirmation</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                        <input type="date" id="orderConfirmationDate" th:field="*{orderConfirmationDate}"
                           th:value="*{orderConfirmationDate != null ? orderConfirmationDate : ''}"
                           class="form-control" />
                    </div>
                </div>

                <!--- Sector Scope -->
                <div class="col-md-6">
                    <label for="sectorScope" class="form-label">Scope Sector</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-industry"></i></span>
                        <input type="text" id="sectorScope" th:field="*{sectorScope}" class="form-control"
                               inputmode="numeric" pattern="[0-9]*" minlength="1" maxlength="3" required/>
                        <div class="invalid-feedback">
                            Please provide a valid numeric scope (1-3 digits).
                        </div>
                    </div>
                </div>
                
                <!--- End Client Name -->
                <div class="col-md-6">
                    <label for="endClientName" class="form-label">End Client Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                        <input type="text" id="endClientName" th:field="*{endClientName}" class="form-control" />
                    </div>
                </div>

                <!-- Project Name -->
                <div class="col-md-6">
                    <label for="projectName" class="form-label">Project Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-project-diagram"></i></span>
                        <input type="text" id="projectName" th:field="*{projectName}" class="form-control" />
                    </div>
                </div>
            </div>

            <h4 class="section-header">
                <i class="fas fa-file-alt"></i> Documentation Process
            </h4>

            <div class="row g-3 mb-4">

                <!-- Reference Documents -->
                <div class="col-md-6">
                    <label class="form-label">Reference Documents</label>
                    <div class="input-group">
                        <span class="input-group-text me-3"><i class="fas fa-file"></i></span>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input type="radio" id="referenceDocumentsYes" name="referenceDocumentsForInspectionStatus" value="true" th:checked="${inspection.referenceDocumentsForInspectionStatus == true}" class="form-check-input" />
                                Available
                            </div>
                            <div class="form-check">
                                <input type="radio" id="referenceDocumentsNo" name="referenceDocumentsForInspectionStatus" value="false" th:checked="${inspection.referenceDocumentsForInspectionStatus == false}" class="form-check-input" />
                               Not Available
                            </div>
                        </div>
                        <button type="button"
                                class="btn btn-link btn-sm"
                                onclick="openReferenceDocumentsLinkPopup()">
                            <i class="fas fa-link"></i>
                        </button>
                        <input type="hidden"
                               th:field="*{referenceDocumentsLink}"
                               th:id="referenceDocumentsLink">
                    </div>
                </div>

                <!-- Documents Reviewed By Technical Coordinator -->
                <div class="col-md-6">
                    <label class="form-label">Documents Reviewed By Technical Coordinator</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                        <select id="documentsReviewedByTechnicalCoordinator" class="form-select"
                                th:field="*{documentsReviewedByTechnicalCoordinator}" style="min-width: 200px;" >
                            <option value="">Select Technical Coordinator</option>
                            <option th:each="coordinator : ${inspection.technicalCoordinatorsList}"
                                    th:value="${coordinator.empId}"
                                    th:text="${coordinator.empName}"></option>
                        </select>
                    </div>
                </div>

                <!-- Contract Review Prepared -->
                <div class="col-md-6">
                    <label class="form-label">Contract Review Prepared</label>
                    <div class="input-group">
                        <span class="input-group-text me-3"><i class="fas fa-file-alt"></i></span>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input type="radio" id="contractReviewYes" name="contractReviewPrepared" value="true" th:checked="${inspection.contractReviewPrepared == true}" class="form-check-input" />
                                Yes
                            </div>
                            <div class="form-check">
                                <input type="radio" id="contractReviewNo" name="contractReviewPrepared" value="false" th:checked="${inspection.contractReviewPrepared == false}" class="form-check-input" />
                                No
                            </div>
                            <button type="button"
                                    class="btn btn-link btn-sm"
                                    th:if="${inspection.id != null}"
                                    th:onclick="|viewContractReview(${inspection.id})|">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Inspection Advise Note -->
                <div class="col-md-6">
                <label class="form-label me-3">Inspection Advise Note</label>
                <div class="input-group">
                    <span class="input-group-text me-3"><i class="fas fa-sticky-note"></i></span>
                    <div class="d-flex align-items-center">
                        <div class="form-check me-3">
                            <input type="radio" id="adviseNoteYes" name="inspectionAdviseNote" value="true" th:checked="${inspection.inspectionAdviseNote == true}" class="form-check-input" />
                            Yes
                        </div>
                        <div class="form-check">
                            <input type="radio" id="adviseNoteNo" name="inspectionAdviseNote" value="false" th:checked="${inspection.inspectionAdviseNote == false}" class="form-check-input" />
                            No
                        </div>
                        <button type="button"
                                class="btn btn-link btn-sm"
                                th:if="${inspection.id != null}"
                                th:onclick="|viewInspectionAdvise(${inspection.id})|">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
            </div>
            </div>

            <!-- Inspection Process -->
            <h4 class="section-header">
                <i class="fas fa-cogs"></i> Inspection Process
            </h4>

            <div class="row g-3 mb-4">

                <!-- Instructions to Inspector Date -->
                <div class="col-md-6">
                    <label for="instructionsToInspectorDate" class="form-label">Instructions to Inspector Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                        <input type="date" id="instructionsToInspectorDate" th:field="*{instructionsToInspectorDate}" class="form-control"/>
                    </div>
                </div>

                <!-- Any Inspection Issues -->
                <div class="col-md-6">
                    <label class="form-label">Any Inspection Issues</label>
                    <div class="input-group">
                        <span class="input-group-text me-3"><i class="fas fa-exclamation-triangle"></i></span>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input type="radio" id="inspectionIssuesYes" name="anyInspectionIssues" value="true" th:checked="${inspection.anyInspectionIssues == true}" class="form-check-input" />
                                Yes
                            </div>
                            <div class="form-check">
                                <input type="radio" id="inspectionIssuesNo" name="anyInspectionIssues" value="false" th:checked="${inspection.anyInspectionIssues == false}" class="form-check-input" />
                                No
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FR Sent To Client Date -->
                <div class="col-md-6">
                    <label for="frSentToClientDate" class="form-label">FR Sent To Client Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-share-square"></i></span>
                        <input type="date" id="frSentToClientDate" th:field="*{frSentToClientDate}" class="form-control"/>
                    </div>
                </div>

                <!-- Inspection Reports Received Date -->
                <div class="col-md-6">
                    <label for="inspectionReportsReceivedDate" class="form-label">Inspection Reports Received
                        Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-download"></i></span>
                        <input type="date" id="inspectionReportsReceivedDate" th:field="*{inspectionReportsReceivedDate}"
                           class="form-control" />
                    </div>
                </div>

                <!-- Inspection Reviewed By -->
                <div class="col-md-6">
                    <label for="inspectionReviewedBy" class="form-label">Inspection Reviewed By</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-edit"></i></span>
                        <select id="inspectionReviewedBy" class="form-select" th:field="*{inspectionReviewedBy}" >
                        <option value="">Select Reviewer</option>
                        <option th:each="coordinator : ${inspection.technicalCoordinatorsList}"
                                th:value="${coordinator.empId}"
                                th:text="${coordinator.empName}"></option>
                    </select>
                    </div>
                </div>

                <!-- Inspection Support Documents Sent Date -->
                <div class="col-md-6">
                    <label for="inspectionSupportDocumentsSentDate" class="form-label">Inspection Support Documents
                        Sent Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-paper-plane"></i></span>
                        <input type="date" id="inspectionSupportDocumentsSentDate"
                           th:field="*{inspectionSupportDocumentsSentDate}" class="form-control" />
                    </div>
                </div>

                <!-- Inspection Reports -->
                <div class="row g-3 mb-4">

                    <!-- Inspection Reports Iteration -->
                    <div class="col-md-12 mt-4">
                        <label class="form-label mb-2">Inspection Reports</label>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="InspectionReportsTable">
                                <thead>
                                <tr class="text-center">
                                    <th>Report Date</th>
                                    <th>Inspector Name</th>
                                    <th>Report Number</th>
                                    <th>Report Type</th>
                                    <th>Report Link</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Existing Reports -->
                                <tr th:each="report, iterStat : ${inspection.inspectionReports}">
                                    <input type="hidden" th:field="*{inspectionReports[__${iterStat.index}__].id}"
                                           th:value="${report.id}"/>
                                    
                                    <!-- Report Date -->
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <input type="datetime-local" class="form-control form-control-sm"
                                                   th:field="*{inspectionReports[__${iterStat.index}__].reportDate}"
                                                   th:value="${report.reportDate != null ? report.reportDate : ''}"/>
                                        </div>
                                    </td>
                                    
                                    <!-- Inspector Name -->
                                    <td>
                                        <select class="form-select form-select-sm"
                                                th:field="*{inspectionReports[__${iterStat.index}__].inspector.inspectorId}">
                                            <option value="">Select Inspector</option>
                                            <option th:each="inspector : ${inspection.inspectorsList}"
                                                    th:value="${inspector.inspectorId}"
                                                    th:text="${inspector.inspectorName}"></option>
                                        </select>
                                    </td>
                                   
                                    <!-- Report Number -->
                                    <td>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <input type="text" class="form-control form-control-sm"
                                                   th:field="*{inspectionReports[__${iterStat.index}__].reportNumber}"
                                                   th:value="${report.reportNumber != null ? report.reportNumber : ''}"/>
                                        </div>
                                    </td>
                                    
                                    <!-- Report Type -->
                                    <td>
                                        <select class="form-select form-select-sm"
                                                th:field="*{inspectionReports[__${iterStat.index}__].reportType}">
                                            <option value="">Select Report Type</option>
                                            <option th:each="type : ${T(com.stepup.ims.model.InspectionReports.ReportType).values()}"
                                                    th:value="${type}"
                                                    th:selected="${report.reportType == type}"
                                                    th:text="${type.description}">
                                            </option>
                                        </select>

                                    </td>

                                    <!-- Report Link -->
                                    <td>
                                        <button type="button" class="btn btn-link btn-sm"
                                                th:data-index="${iterStat.index}"
                                                th:onclick="|openReportsLinkPopup(this)|">
                                            <i class="fas fa-link"></i>
                                        </button>
                                        <input type="hidden"
                                               th:field="*{inspectionReports[__${iterStat.index}__].reportLink}"
                                               th:id="'reportLink' + __${iterStat.index}__"
                                               th:value="${report.reportLink}">
                                    </td>

                                    <!-- Actions -->
                                    <td class="text-center">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="deleteReportRow(this)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Add Report Button -->
                        <button type="button" class="btn btn-primary btn-sm" onclick="addReportRow()">Add Report</button>
                    </div>
                </div>

                <!-- Inspection Report Number -->
                <div class="col-md-6">
                    <label for="inspectionReportNumber" class="form-label">
                        Inspection Report Number</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
                        <input type="text" id="inspectionReportNumber"
                           th:field="*{inspectionReportNumber}" class="form-control" />
                    </div>
                </div>

                <!-- NCR Raised -->
                <div class="col-md-6">
                    <label class="form-label">NCR Raised</label>
                    <div class="input-group">
                        <span class="input-group-text me-3"><i class="fas fa-exclamation-circle"></i></span>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input type="radio" id="ncrRaisedYes" name="ncrRaised" value="true" th:checked="${inspection.ncrRaised == true}" class="form-check-input" />
                               Yes
                            </div>
                            <div class="form-check">
                                <input type="radio" id="ncrRaisedNo" name="ncrRaised" value="false" th:checked="${inspection.ncrRaised == false}" class="form-check-input" />
                               No
                            </div>
                        </div>
                    </div>
                </div>

                <!-- IRN Sent Date -->
                <div class="col-md-6">
                    <label for="irnSentDate" class="form-label">IRN Sent Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                        <input type="date" id="irnSentDate" th:field="*{irnSentDate}" class="form-control" />
                    </div>
                </div>

                <!-- Impartiality and Confidentiality -->
                <div class="col-md-6">
                    <label class="form-label">Impartiality and Confidentiality</label>
                    <div class="input-group">
                        <span class="input-group-text me-3"><i class="fas fa-balance-scale"></i></span>
                        <div class="d-flex align-items-center">
                            <div class="form-check me-3">
                                <input type="radio" id="impartialityYes" name="impartialityAndConfidentiality" value="true" th:checked="${inspection.impartialityAndConfidentiality == true}" class="form-check-input" />
                                Yes
                            </div>
                            <div class="form-check">
                                <input type="radio" id="impartialityNo" name="impartialityAndConfidentiality" value="false" th:checked="${inspection.impartialityAndConfidentiality == false}" class="form-check-input" />
                                No
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Job Folder Link -->
                <div class="col-md-6">
                    <label for="jobFolderLink" class="form-label">Job Folder Link</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-link"></i></span>
                    <input type="url" id="jobFolderLink" th:field="*{jobFolderLink}" class="form-control"
                           placeholder="Enter the URL" />
                    </div>
                </div>
                

                <!-- Inspection Status -->
                <div class="col-md-6">
                    <label for="inspectionStatus" class="form-label required-field">Inspection Status</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
                        <select id="inspectionStatus" class="form-select" th:field="*{inspectionStatus}" required>
                            <option value="">Select Status</option>
                            <option th:each="inspectionStatusType : ${T(com.stepup.ims.model.Inspection.InspectionStatusType).values()}"
                                    th:value="${inspectionStatusType}"
                                    th:text="${inspectionStatusType.description}"></option>
                        </select>
                    </div>
                </div>
                                

        </div>

            <!-- Submit Button -->
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" th:text="${edit ? 'Edit Inspection' : 'Add Inspection'}"
                        onclick="setupInspectionStatusValidations(event)">
                    Add Inspection
                </button>
            </div>

        </form>
    </div>
</div>
</main>
<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>