<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"><title>Add or Edit Inspection</title></head>
<body>
<!-- Header -->
<header th:replace="fragments/header :: header"></header>
<!-- Main Content -->
<main>
<div class="page-container">
    <div class="form-card">
        <div class="form-header">
            <h1 class="form-title">Add Inspection</h1>
            <p class="form-subtitle">Please fill out the information below to register a new inspection</p>
        </div>
        <form th:action="@{/inspection/save}" th:object="${inspection}" method="post" class="needs-validation" novalidate>
            <input type="hidden" th:field="*{id}" id="id" />

            <!-- notification details -->
            <h4 class="section-header">
                <i class="fas fa-bell me-2"></i> Notification Details
            </h4>

            <div class="row g-3 mb-4">

                <!-- Inspection No -->
                <div class="col-md-6">
                    <label for="inspectionNo" class="form-label">IISPL No</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                        <input type="text" id="inspectionNo" th:field="*{inspectionNo}" class="form-control" placeholder="Enter IISPL No" required
                           th:disabled="${edit}"/>
                        <!-- Hidden field to ensure the value is sent even when the input is disabled -->
                        <input type="hidden" th:field="*{inspectionNo}" th:if="${edit}"/>
                    </div>
                </div>

                <!-- Notification No -->
                <div class="col-md-6">
                    <label for="notificationNo" class="form-label">Notification No</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="text" id="notificationNo" th:field="*{notificationNo}" class="form-control" required/>
                    </div>
                </div>


                <!-- Notification Received Date and Time -->
                <div class="col-md-6">
                    <label for="notificationReceivedDateTime" class="form-label">Notification Received Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                       <input type="datetime-local" id="notificationReceivedDateTime" th:field="*{notificationReceivedDateTime}"
                                   class="form-control" required/>
                        </div>
                </div>

                <!-- Client Name -->
                <div class="col-md-6">
                    <label for="clientName" class="form-label">Client Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <select id="clientName" th:field="*{client.clientId}" class="form-control" required>
                            <option value="">Select Client</option>
                            <option th:each="client : ${inspection.clientsList}" th:value="${client.clientId}"
                                    th:text="${client.clientName + ' - ' + client.country}"></option>
                        </select>
                        </div>
                </div>


            </div>

            <!-- inspection details -->
            <h4 class="section-header">
                <i class="fas fa-address-card"></i> Inspection Details
            </h4>

            <div class="row g-3 mb-4">

                <!--- Inspection Country -->
                <div class="col-md-6">
                    <label for="inspectionCountry" class="form-label">Inspection Country</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                        <select id="inspectionCountry" th:field="*{inspectionCountry}" class="form-control" required>
                            <option value="">Select Country</option>
                            <option th:each="country : ${inspection.countriesList}" th:value="${country}"
                                    th:text="${country}"></option>
                        </select>
                    </div>
                </div>

                <!-- Inspection Dates -->
                <div class="col-md-6">
                    <label for="inspectionDateAsPerNotification" class="form-label">Inspection Dates</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input id="inspectionDateAsPerNotification" name="inspectionDateAsPerNotification"
                           th:field="*{inspectionDateAsPerNotification}" class="form-control"
                           type="text" placeholder="Pick dates"
                           th:value="${inspectionDateAsPerNotification}" required />
                    </div>
                </div>

                <!-- Inspection Item -->
                <div class="col-md-6">
                    <label for="inspectionItem" class="form-label">Inspection Item</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-box"></i></span>
                         <input type="text" id="inspectionItem" th:field="*{inspectionItem}" class="form-control" required/>
                    </div>
                </div>

                <!-- Inspection Type -->
                <div class="col-md-6">
                    <label class="form-label">Inspection Type</label>
                    <div class="d-flex">
                        <div class="form-check me-3">
                            <input type="radio" id="MECHANICAL"
                                   name="inspectionType" th:field="*{inspectionType}" value="MECHANICAL" required/>
                            <label for="MECHANICAL">Mechanical</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="ELECTRICAL"
                                   name="inspectionType" th:field="*{inspectionType}" value="ELECTRICAL" required/>
                            <label for="ELECTRICAL">Electrical</label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row g-3 mb-4">

                <!-- First Column -->

                <!-- Inspection Stages -->
                <div class="col-md-6">
                    <div class="mb-4">
                        <label for="inspectionActivityWithStages" class="form-label">Inspection Stages</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-tasks"></i></span>
                            <textarea id="inspectionActivityWithStages"
                                      th:field="*{inspectionActivityWithStages}"
                                      class="form-control" rows="3" placeholder="Enter Inspection Stages" required></textarea>
                        </div>
                    </div>

                    <!-- Inspection Location Details -->
                    <div>
                        <label for="inspectionLocationDetails" class="form-label">Inspection Location Details</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-location-pin"></i></span>
                            <textarea id="inspectionLocationDetails" th:field="*{inspectionLocationDetails}"
                                      class="form-control" rows="3"
                                      onchange="initMap(this.value); showMapLoadingMessage();" required></textarea>
                        </div>
                        <div id="mapLoadingMessage" class="mt-2 text-warning fw-bold" style="display: none;">
                            Wait for the map to load nearby inspectors...
                        </div>
                    </div>
                </div>

                <!-- Second Column -->
                <div class="col-md-6">
                    <!-- Map -->
                    <div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
                </div>

            </div>

            <!-- inspector details -->
            <h4 class="section-header">
                <i class="fas fa-users"></i> Inspector Details
            </h4>

            <div class="row g-3 mb-4">

                <!-- Proposed CVs Iteration -->
                <div class="col-md-12 mt-4">
                    <label class="form-label">Proposed Inspectors</label>
                    <table class="table table-bordered" id="proposedCVsTable">
                        <thead>
                        <tr>
                            <th>Inspector Name</th>
                            <th>CV Available</th>
                            <th>Technical Coordinator</th>
                            <th>PQRAvailable</th>
                            <th>CV Submitted Date</th>
                            <th>CV Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Existing CVs -->
                        <tr th:each="cv, iterStat : ${inspection.proposedCVs}">

                            <!-- Hidden field for Proposed CVs ID -->
                            <input type="hidden"
                                   th:field="*{proposedCVs[__${iterStat.index}__].id}"
                                   th:value="${cv.id}"/>

                            <td>
                                <label>
                                    <select class="form-control"
                                            th:field="*{proposedCVs[__${iterStat.index}__].inspector.inspectorId}">
                                        <option value="">Select an Inspector</option>
                                        <option th:each="inspector : ${inspection.inspectorsList}"
                                                th:value="${inspector.inspectorId}"
                                                th:text="${inspector.inspectorName}"></option>
                                    </select>
                                </label>
                                
                            </td>

                            <td>
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].cvCertificatesAvailable"
                                           value="true"
                                           th:checked="${cv.cvCertificatesAvailable == true}"/>
                                </label>
                                Yes
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].cvCertificatesAvailable"
                                           value="false"
                                           th:checked="${cv.cvCertificatesAvailable == false}"/>
                                </label>
                                No
                            </td>

                            <td>
                                <label>
                                    <select class="form-control"
                                            th:field="*{proposedCVs[__${iterStat.index}__].cvReviewByTechnicalCoordinator.empId}">
                                        <option value="">Select a Technical Coordinator</option>
                                        <option th:each="coordinator : ${inspection.technicalCoordinatorsList}"
                                                th:value="${coordinator.empId}"
                                                th:text="${coordinator.empName}"></option>
                                    </select>
                                </label>
                            </td>

                            <td>
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].pqrAvailable"
                                           value="true"
                                           th:checked="${cv.pqrAvailable == true}" />
                                </label>
                                Yes
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].pqrAvailable"
                                           value="false"
                                           th:checked="${cv.pqrAvailable == false}" />
                                </label>
                                No
                            </td>

                            <td>
                                <label>
                                    <input type="datetime-local" class="form-control"
                                           th:field="*{proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate}"
                                           th:value="*{proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate != null ? proposedCVs[__${iterStat.index}__].cvSubmittedToClientDate : ''}"/>
                                </label>
                            </td>


                            
                            <td>
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].cvStatus"
                                           value="true"
                                           th:onclick="'approvedInspector('+ ${iterStat.index} +', true)'"
                                           th:checked="${cv.cvStatus == true}" />
                                </label>
                                Yes
                                <label>
                                    <input type="radio"
                                           th:name="proposedCVs[__${iterStat.index}__].cvStatus"
                                           value="false"
                                           th:onclick="'approvedInspector('+ ${iterStat.index} +', false)'"
                                           th:checked="${cv.cvStatus == false}" />
                                </label>
                                No
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteCVRow(this)">Delete
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <!-- Add CV Button -->
                    <button type="button" class="btn btn-primary btn-sm" onclick="addCVRow()">Add CV</button>
                </div>

            </div>

            <!-- inspection progress -->
            <h4 class="section-header">
                <i class="fas fa-cogs process-icon"></i> Inspection Progress
            </h4>
            
            <div class="row g-3 mb-4">

                <!-- Approved Inspector Name -->
                <div class="col-md-6">
                    <label for="approvedInspectorName" class="form-label">Approved Inspector Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" id="approvedInspectorName" th:field="*{approvedInspectorName}"
                           class="form-control" readonly/>
                    </div>
                </div>

                <!-- Order Confirmation Date -->
                <div class="col-md-6">
                    <label for="orderConfirmationDate" class="form-label">Date of Order Confirmation</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                        <input type="date" id="orderConfirmationDate" th:field="*{orderConfirmationDate}"
                           th:value="*{orderConfirmationDate != null ? orderConfirmationDate : ''}"
                           class="form-control" />
                    </div>
                </div>

                <!--- Sector Scope -->
                <div class="col-md-6">
                    <label for="sectorScope" class="form-label">Sector Scope</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-industry"></i></span>
                        <input type="text" id="sectorScope" th:field="*{sectorScope}" class="form-control" />
                    </div>
                </div>
                
                <!--- End Client Name -->
                <div class="col-md-6">
                    <label for="endClientName" class="form-label">End Client Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                        <input type="text" id="endClientName" th:field="*{endClientName}" class="form-control" />
                    </div>
                </div>

                <!-- Project Name -->
                <div class="col-md-6">
                    <label for="projectName" class="form-label">Project Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-project-diagram"></i></span>
                        <input type="text" id="projectName" th:field="*{projectName}" class="form-control" />
                    </div>
                </div>

                <!-- Reference Documents for Inspection Status -->
                <div class="col-md-6">
                    <label class="form-label">Reference Documents</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file"></i></span>
                        
                        <input type="radio" name="referenceDocumentsForInspectionStatus" value="true"
                               th:checked="${inspection.referenceDocumentsForInspectionStatus == true}" />
                        Available
                        <input type="radio" name="referenceDocumentsForInspectionStatus" value="false"
                               th:checked="${inspection.referenceDocumentsForInspectionStatus == false}" />
                        Not Available
                    </div>
                </div>
                
                <!-- Documents Reviewed By Technical Coordinator -->
                <div class="col-md-6">
                    <label class="form-label">Documents Reviewed By Technical Coordinator</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                        <select id="documentsReviewedByTechnicalCoordinator" class="form-control"
                                th:field="*{documentsReviewedByTechnicalCoordinator}" >
                            <option value="">Select Technical Coordinator</option>
                            <option th:each="coordinator : ${inspection.technicalCoordinatorsList}"
                                    th:value="${coordinator.empName}"
                                    th:text="${coordinator.empName}"></option>
                        </select>
                    </div>
                </div>

                <!-- Contract Review Prepared -->
                <div class="col-md-6">
                    <label class="form-label">Contract Review Prepared</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                        <input type="radio" name="contractReviewPrepared" value="true"
                               th:checked="${inspection.contractReviewPrepared == true}" />
                        Yes
                        <input type="radio" name="contractReviewPrepared" value="false"
                               th:checked="${inspection.contractReviewPrepared == false}" />
                        No
                    </div>
                </div>

                <!-- Inspection Advise Note -->
                <div class="col-md-6">
                    <label class="form-label">Inspection Advise Note</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>
                        <input type="radio" name="inspectionAdviseNote" value="true"
                               th:checked="${inspection.inspectionAdviseNote == true}" />
                        Yes
                        <input type="radio" name="inspectionAdviseNote" value="false"
                               th:checked="${inspection.inspectionAdviseNote == false}" />
                        No
                    </div>
                </div>
                
                <!-- Instructions to Inspector Date -->
                <div class="col-md-6">
                    <label for="instructionsToInspectorDate" class="form-label">Instructions to Inspector Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                        <input type="date" id="instructionsToInspectorDate" th:field="*{instructionsToInspectorDate}" class="form-control"/>
                    </div>
                </div>
                
                <!-- Any Inspection Issues -->
                <div class="col-md-6">
                    <label class="form-label">Any Inspection Issues</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-exclamation-triangle"></i></span>
                        <input type="radio" name="anyInspectionIssues" value="true"
                               th:checked="${inspection.anyInspectionIssues == true}" />
                        Yes
                        <input type="radio" name="anyInspectionIssues" value="false"
                               th:checked="${inspection.anyInspectionIssues == false}" />
                        No
                    </div>
                </div>

                <!-- FR Sent To Client Date -->
                <div class="col-md-6">
                    <label for="frSentToClientDate" class="form-label">FR Sent To Client Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="date" id="frSentToClientDate" th:field="*{frSentToClientDate}" class="form-control"/>
                    </div>
                </div>
                
                <!-- Inspection Reports Received Date -->
                <div class="col-md-6">
                    <label for="inspectionReportsReceivedDate" class="form-label">Inspection Reports Received
                        Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="date" id="inspectionReportsReceivedDate" th:field="*{inspectionReportsReceivedDate}"
                           class="form-control" />
                    </div>
                </div>

                <!-- Inspection Reviewed By -->
                <div class="col-md-6">
                    <label for="inspectionReviewedBy" class="form-label">Inspection Reviewed By</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                        <select id="inspectionReviewedBy" class="form-control" th:field="*{inspectionReviewedBy}" >
                        <option value="">Select Reviewer</option>
                        <option th:each="coordinator : ${inspection.technicalCoordinatorsList}"
                                th:value="${coordinator.empName}"
                                th:text="${coordinator.empName}"></option>
                    </select>
                    </div>
                </div>

                <!-- Inspection Support Documents Sent Date -->
                <div class="col-md-6">
                    <label for="inspectionSupportDocumentsSentDate" class="form-label">Inspection Support Documents
                        Sent Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="date" id="inspectionSupportDocumentsSentDate"
                           th:field="*{inspectionSupportDocumentsSentDate}" class="form-control" />
                    </div>
                </div>
                
                <!-- Inspection Report Number -->
                <div class="col-md-6">
                    <label for="inspectionReportNumber" class="form-label">
                        Inspection Report Number</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="text" id="inspectionReportNumber"
                           th:field="*{inspectionReportNumber}" class="form-control" />
                    </div>
                </div>

                <!-- NCR Raised -->
                <div class="col-md-6">
                    <label class="form-label">NCR Raised</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="radio" name="ncrRaised" value="true" th:checked="${inspection.ncrRaised == true}" />
                        Yes
                        <input type="radio" name="ncrRaised" value="false" th:checked="${inspection.ncrRaised == false}" />
                        No
                    </div>
                </div>

                <!-- IRN Sent Date -->
                <div class="col-md-6">
                    <label for="irnSentDate" class="form-label">IRN Sent Date</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="date" id="irnSentDate" th:field="*{irnSentDate}" class="form-control" />
                    </div>
                </div>

                <!-- Impartiality and Confidentiality -->
                <div class="col-md-6">
                    <label class="form-label">Impartiality and Confidentiality</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                        <input type="radio" name="impartialityAndConfidentiality" value="true"
                               th:checked="${inspection.impartialityAndConfidentiality == true}" />
                        Yes
                        <input type="radio" name="impartialityAndConfidentiality" value="false"
                               th:checked="${inspection.impartialityAndConfidentiality == false}" />
                        No
                    </div>
                </div>

                <!-- Job Folder Link -->
                <div class="col-md-6">
                    <label for="jobFolderLink" class="form-label">Job Folder Link</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                    <input type="url" id="jobFolderLink" th:field="*{jobFolderLink}" class="form-control"
                           placeholder="Enter the URL" />
                </div>

            </div>

            </div>
            <!-- Submit Button -->
            <div class="col-12">
                <button type="submit" class="btn btn-success" th:text="${edit ? 'Edit Inspection' : 'Add Inspection'}">
                    Add Inspection
                </button>
            </div>
            
        </form>
    </div>
</div>
</main>
<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>