<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="~{fragments/head :: head('Inspections Calendar')}"></head>
<body>
<!-- Header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Breadcrumb -->
<div id="breadcrumbContainer"
     th:attr="data-page='dashboard:/role/dashboard,Calendar:'"
class="breadcrumb-wrapper">
</div>

<!-- Main Content -->
<main class="container">
        <h1>Inspection Calendar</h1>
        <div id="calendar"></div>
    </main>

<!-- Footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>