<footer>

    <p>
        <b>Usefull Links</b>
        <a href="https://iispl.net/about-us.html">About us</a>
    Our services
    Coverage
    Careers
    Mechanical
    Electrical
    I & C
    Food & Grains
    </p>
    <p>
      <b>Our Address</b>
        Plot No. 29, Haritha Nilayam
        Metro Cash & Carry, Kukatpally, Hyderabad - 500 072,
        Telangana, INDIA
        Phone: +91 40-23073403
        Phone: +91 9866000019
        Email: iispl@iispl.net
    </p>

    ©International Inspection Services Pvt Ltd.

    <!-- Include JavaScript -->
    <script th:src="@{/js/scripts.js}"></script>
</footer>