<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Client Registration Form</h1>
<form th:action="@{/client/save}" th:object="${client}" method="post" class="mt-4">

    <div class="form-group">
        <label for="clientName" class="form-label">Client Name:</label>
        <input type="text" id="clientName" class="form-control" th:field="*{clientName}" required>
    </div>
    <br>


    <div class="form-group">
        <label for="country" class="form-label">Country:</label>
        <select id="country" class="form-select" th:field="*{country}">
            <option value="searchable" hidden>Type to search...</option>
            <option value="" disabled selected>-- Select Country --</option>
            <option th:each="countryName : *{countriesList}" th:value="${countryName}" th:text="${countryName}"
                    th:selected="${client.country == countryName}">
            </option>
        </select>
    </div>

    <br>

    <div class="form-group">
        <label for="address" class="form-label">Address:</label>
        <textarea id="address" class="form-control" th:field="*{address}" rows="4" required></textarea>
    </div>
    <br>

    <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" class="form-control" th:field="*{email}" required>
    </div>
    <br>

    <div class="form-group">
        <label for="phone" class="form-label">Phone:</label>
        <input type="tel" id="phone" class="form-control" th:field="*{phone}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
               title="Format: 123-456-7890" required>
    </div>
    <br>

    <div th:each="referenceType : ${T(com.stepup.ims.model.Client.ReferenceType).values()}">
        <input type="checkbox" th:field="*{reference}" th:value="${referenceType}" class="form-check-input"/>
        <label th:for="${referenceType}" th:text="${referenceType}" class="form-check-label"></label>
    </div>

    <br>

    <div class="form-group">
        <label for="employeeId" class="form-label">Employee ID:</label>
        <input type="text" id="employeeId" class="form-control" th:field="*{employeeId}">
    </div>
    <br>

    <div class="form-group">
        <label for="confirmationDate" class="form-label">Confirmation Date:</label>
        <input type="date" id="confirmationDate" class="form-control" th:field="*{confirmationDate}" required>
    </div>
    <br>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-secondary" value="Reset">
    </div>
    <br>

</form>
</body>
</html>