<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head('Inspector PQR Add/Edit')"></head>
<body>


<!-- Main Content -->
<main>
    <div class="form-card">
        <div id="successMessage" class="alert alert-success" style="display: none;" th:text="${successMessage}">
        </div>
        <div class="form-header">
            <h1 class="form-title">Add Inspector PQR</h1>
            <p class="form-subtitle">Please fill out the PQR information of the inspector</p>
        </div>

        <!-- Inspector Details -->
        <h4 class="section-header">
            <i class="fas fa-user-circle me-2"></i> Inspector Details
        </h4>

        <div class="info-section">

            <div class="info-item">
                <i class="fas fa-user"></i>
                <div class="info-content">
                    <div class="info-label">Inspector Name</div>
                    <div class="info-value" th:text="${inspector.inspectorName}">johndoe@example.com</div>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-envelope"></i>
                <div class="info-content">
                    <div class="info-label">Email Address</div>
                    <div class="info-value" th:text="${inspector.email}">johndoe@example.com</div>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-id-card"></i>
                <div class="info-content">
                    <div class="info-label">Inspector Type</div>
                    <div class="info-value" th:text="${inspector.inspectorType.description}">Senior Inspector</div>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-university"></i>
                <div class="info-content">
                    <div class="info-label">Education Details</div>
                    <div class="info-value" th:text="${inspector.educationDetails}">Bachelor of Engineering,
                        Mechanical
                    </div>
                </div>
            </div>

            <div class="info-item">
                <i class="fas fa-book"></i>
                <div class="info-content">
                    <div class="info-label">Disciplines</div>
                    <div class="info-value" th:text="${inspector.disciplines}">Mechanical, Structural</div>
                </div>
            </div>
        </div>

        <form th:object="${pqr}" method="post"
              class="needs-validation"
              novalidate>

            <input type="hidden" th:field="*{inspectorId}" id="inspectorId"/>
            <!-- pqr id -->
            <input type="hidden" th:field="*{id}" id="id"/>

            <!-- Skills -->
            <h4 class="section-header">
                <i class="fas fa-tools me-2"></i> Skills & Qualifications
            </h4>

            <!-- Primary Skills -->
            <div class="row">
                <div class="info-item d-flex flex-column">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-tools me-2"></i>
                        <span>Skills</span>
                    </div>
                    <div class="info-content mt-2">
                        <div class="row row-cols-5 g-3">
                            <div class="col"
                                 th:each="skill, iterStat : ${T(com.stepup.ims.model.PQR.Skills).values()}">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:field="*{skills}"
                                           th:value="${skill}"
                                           th:checked="${skills != null and skills.contains(skill)}"
                                       id="${'skill_' + iterStat.index}"/>
                                    <label class="form-check-label fw-normal d-inline-block"
                                           style="font-size: smaller; white-space: nowrap;"
                                           th:for="${'skill_' + iterStat.index}"
                                           th:text="${skill.getName()}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>            
            
            <!-- Education, Experience and English -->
            <div class="row text-start">
                <div class="col-md-4 info-item d-flex flex-column text-start">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-graduation-cap"></i>
                        <span>Education</span>
                    </div>
                    <div class="info-content mt-2">
                        <div th:each="educationItem, iterStat : ${T(com.stepup.ims.model.PQR.Education).values()}">
                            <input type="radio" th:field="*{education}" th:value="${educationItem}"
                                   th:checked="${education != null and education.equals(educationItem)}"
                                   id="${'education_' + iterStat.index}" name="education" required
                                   th:data-rating="${educationItem.getRating()}"
                                   th:data-factor="${educationItem.getFactor()}"
                                   onchange="calculateScore()" class="form-check-input"/>
                            <span th:text="${educationItem.getQualification()}" style="font-size: smaller;"></span>
                        </div>
                        <div class="invalid-feedback">
                            Please select an education level.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 info-item d-flex flex-column text-start">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-briefcase"></i>
                        <span>Experience</span>
                    </div>
                    <div class="info-content mt-2">
                        <div th:each="exp, iterStat : ${T(com.stepup.ims.model.PQR.Experience).values()}">
                            <input type="radio" th:field="*{experience}" th:value="${exp}"
                                   th:checked="${experience != null and experience.contains(exp)}"
                                   id="${'experience_' + iterStat.index}"  name="experience" required
                                   th:data-rating="${exp.getRating()}"
                                   th:data-factor="${exp.getFactor()}"
                                   onchange="calculateScore()" class="form-check-input"/>
                            <span th:text="${exp.getName()}" style="font-size: smaller;"></span>
                        </div>
                        <div class="invalid-feedback">
                            Please select an experience level.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 info-item d-flex flex-column">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-comments"></i>
                        <span>Communication</span>
                    </div>
                    <div class="info-content mt-2">
                        <div th:each="englishSkill, iterStat : ${T(com.stepup.ims.model.PQR.EnglishSkills).values()}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       th:field="*{englishSkills}" th:value="${englishSkill}"
                                       th:checked="${englishSkills != null and englishSkills.contains(englishSkill)}"
                                       id="${'englishSkill_' + iterStat.index}" name="englishSkills"
                                       th:data-rating="${englishSkill.getRating()}"
                                       th:data-factor="${englishSkill.getFactor()}"
                                       onchange="calculateScore()"/>
                                <label class="form-check-label fw-normal d-inline-block"
                                       style="font-size: smaller; white-space: nowrap;"
                                       th:for="${'englishSkill_' + iterStat.index}"
                                       th:text="${englishSkill.getName()}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <!-- Professional Qualifications and Other Professional Skills -->
            <div class="row">

                <!-- Professional Qualifications -->
                <div class="col-md-6 info-item d-flex flex-column">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-briefcase"></i>
                        <span class="ms-2">Professional Qualifications</span>
                    </div>
                    <div class="info-content mt-2">
                        <div th:each="qualification, iterStat : ${T(com.stepup.ims.model.PQR.ProfessionalQualifications).values()}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       th:field="*{professionalQualifications}"
                                       th:value="${qualification}"
                                       th:checked="${professionalQualifications != null and professionalQualifications.contains(qualification)}"
                                       id="${'professionalQualification_' + iterStat.index}"
                                       name="professionalQualifications"
                                       th:data-rating="${qualification.getRating()}"
                                       th:data-factor="${qualification.getFactor()}"
                                       onchange="calculateScore()"/>
                                <label class="form-check-label fw-normal d-inline-block"
                                       style="font-size: smaller; white-space: nowrap;"
                                       th:for="${'professionalQualification_' + iterStat.index}"
                                       th:text="${qualification.getName()}"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Other Professional Skills -->
                <div class="col-md-6 info-item d-flex flex-column">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fas fa-briefcase"></i>
                        <span class="ms-2">Other Professional Skills</span>
                    </div>
                    <div class="info-content mt-2">
                       <div th:each="otherSkill, iterStat : ${T(com.stepup.ims.model.PQR.OtherProfessionalSkills).values()}">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       th:field="*{otherProfessionalSkills}"
                                       th:value="${otherSkill}"
                                       th:checked="${otherProfessionalSkills != null and otherProfessionalSkills.contains(otherSkill)}"
                                       id="${'otherSkill_' + iterStat.index}" name="otherProfessionalSkills" />
                                <span th:text="${otherSkill.getName()}" style="font-size: smaller;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>

           

            <!-- Score -->
            <h4 class="section-header">
                <i class="fas fa-star me-2"></i> Score & Remarks
            </h4>
            <div class="row g-3 mb-4">

                <!-- Score -->
                <div class="col-md-6">
                    <label for="score" class="form-label">Score</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-star"></i></span>
                        <input type="text" id="score" th:field="*{score}" class="form-control" required readonly/>
                        <div class="invalid-feedback">
                            Please calculate the score by filling all required fields.
                        </div>
                    </div>
                </div>

                <!-- Remarks -->
                <div class="col-md-6">
                    <label for="remarks" class="form-label">Remarks</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comments"></i></span>
                        <textarea id="remarks" th:field="*{remarks}" class="form-control" rows="4"
                                  required minlength="10" maxlength="500"></textarea>
                        <div class="invalid-feedback">
                            Please provide remarks (10-500 characters).
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-end mt-3">
                <button type="submit" class="btn btn-success btn-sm"
                        th:formaction="@{'/pqr/update/approve/' + ${inspectionId}}">Approve
                </button>
                <button type="submit" class="btn btn-danger btn-sm"
                        th:formaction="@{'/pqr/update/reject/' + ${inspectionId}}">Reject
                </button>
                <button type="button" class="btn btn-secondary" onclick="window.close()">Close</button>
            </div>

        </form>
    </div>
</main>

</body>
    </html>